{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1>You're Arived at Stalkers 'R' Us</h1>
    <h5>Never Lose Another Address Again!</h5>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Left 2/3 Column -->
        <div class="col-12 col-lg-8 order-1 order-lg-0">
            
            <!-- Post Display -->
            <div class="card mt-3 bg-primary-subtle border-danger-subtle">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://picsum.photos/500" alt="random" class="card-img-top p-3">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-subtle">May 31, 2023</h6>
                            <h5 class="card-title">Post Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam necessitatibus aperiam magni vero maiores mollitia incidunt rerum minima iste, eum culpa nostrum. Sunt, soluta quisquam provident labore modi magnam.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Right 1/3 Column -->
        <div class="col-12 col-lg-4 order-0 order-lg-1">
            
            <!-- Search Bar -->
            <div class="card mt-3 bg-primary-subtle border-danger-subtle">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Search Term...">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>    

{% endblock %}